# Fall 2022 Data Science Intern Challenge

## Question 1

#### a)	The calculation is off since each order has different number of items ranging from 1 to 2000, which significantly increases the price value of the order. The order amount for 2000 items is 704,000 which is why the AOV- Average Order Value is extremely high for a pair of sneakers. 
####  A better way to evaluate this would to be measure a new metric – average price for each item. The average value for that column will be a much better metric to analyze the average price.

#### b) I would introduce a new column – Avg. Price per item which calculates the total order amount divided by the number of items for that order. 
#### Then I would calculate the average of that column which will give us AIV – Average Item Value. So, we can track and analyze the average amount/price for each item sold. 

#### c)	Value for AIV (Average Item Value) – 387.74$

## Question 2

#### a)	Since ShipperID for Speedy Express is 1, we count the number of orders with that shipper id

#### Query: 
#### SELECT COUNT(OrderID) 
#### FROM [Orders]
#### WHERE ShipperID==1;

#### Output: 54

#### b)	Using Count and Group-by function to find which employee has the maximum orders, and joining it with the Employees table using EmployeeID to find the Last name

#### Query: 
#### SELECT Orders.EmployeeID, COUNT(*), Employees.LastName
#### FROM Orders,Employees
#### WHERE Orders.EmployeeID = Employees.EmployeeID
#### ORDER BY COUNT(*) desc
#### LIMIT 1;

#### Output: 
#### Last Name = Buchanan 
#### Count= 196
#### Employee ID= 5

#### c)	Joining the 4 tables – Customers, Orders, OrderDetails, Products using different IDs and using Count to find the product which is sold the maximum 

#### Query: 
#### SELECT Customers.CustomerID, Customers.Country, Orders.OrderID, OrderDetails.ProductID, Products.ProductName, Count(*)
#### FROM Customers, Orders, OrderDetails, Products
#### WHERE Customers.Country = 'Germany' 
#### AND Customers.CustomerID = Orders.CustomerID
#### AND Orders.OrderID = OrderDetails.OrderID 
#### AND OrderDetails.ProductID = Products.ProductID
#### ORDER BY Count(*) desc;

#### Output:

#### ProductName = Boston Crab Meat
#### ProductID = 40
#### Count = 74